{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block header %}
    <h2>Les annonces du site</h2>
{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <ul>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
            <li>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
            </li>
        </ul>
    </div>
{% endblock %}
